/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 7, 2017, 7:04:04 PM
    Author     : Malan
*/





/*


*/

body{
    padding: 0;
    color:#4e4a4a;
    font-size: 12px;
    margin: 5px;
}

/*#container > div { min-height: 768px; }*/
#container{
    margin: 0 auto;
    background: #ece8e8;
}

#content-left{
    float: left;
    width: 20%;
    
    color:#f9f9f9; 
    text-align: center;
    
    background: #52ccea; /* Old browsers */
background: -moz-linear-gradient(top, #52ccea 0%, #2c98e0 100%, #2c98e0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #52ccea 0%,#2c98e0 100%,#2c98e0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #52ccea 0%,#2c98e0 100%,#2c98e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52ccea', endColorstr='#2c98e0',GradientType=0 ); /* IE6-9 */

}


#content-right{ 
}


.content-right-normal{
    /*left : 20%;*/
    float: left;
    width:100%;
}
.content-right-moved{
    transition: width 0.3s;
    -webkit-transition: width 0.3s;
    float: right;
 width : 80%;
left : 20%; 
    
}


.academic-calendar-info{
    width:68%;
    display: inline-block;
}
.draw-line{
    border-bottom: 1px solid #dddddd;
}
.grade-area{
    width:60%;
    margin: 0 auto;
    display: table;
}
#content-wrapper{
    padding: 20px;
}
#main-content{
    margin: 0 auto;
    margin-top: 30px;
    background-color: white;
    /* border: 1px solid #dddddd; */
    border-radius: 25px;
    padding: 20px;
}


.message_board{
height:400px;
padding:10px;
border-radius: 20px;
border: 1px solid #dddddd;

}
.message_board_title{
margin-bottom: 10px;
text-shadow:1px 1px 2px rgba(94,94,94,0.8);
font-weight:bold;
color:#FF54AF;
font-size:16px;text-align:left;
}
.message_board_item{
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: 1px solid #dddddd;
-webkit-box-shadow: #B3B3B3 7px 7px 7px;
-moz-box-shadow: #B3B3B3 7px 7px 7px; 
box-shadow: #B3B3B3 7px 7px 7px;    
padding: 5px;
}
.message_board_item_ul{
    padding-right: 10px;
}
.right_container{
    width:30%;
    float:right;

}


.img-thumbnail{
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.img-thumbnail:hover{
     transform: scale(3);
}

.footer
{
    border-top: 1px solid #dddddd;
    background-color: white;
    height: 30px;
    padding-top:5px;
}

/* Custom Menu*/


#back a {
    text-decoration: none;
    color: #f5f5f5;

}


.font-button
        {
            display: inline-block;
            color: #a5a1a1;
            text-align: center;
        }


.container{
    margin-top:20%;
}
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}


.file {
  visibility: hidden;
  position: absolute;
}


/*

Login page type text

*/


.parallax img {
	width: 100%;
	height: 100%;
}
/* Preloader */

.preloader {
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: white;
}

.preloader img {
	position: absolute;
	top: calc(50% - 32px);
	left: calc(50% - 32px);
}

.preloader div {
	display: none;
	/* Preload the Second Pricing Image */
	background: url(../img/pricing2.jpg) no-repeat 9999px 9999px;
	background-position: 9999px 9999px;
}

/* Typography */

p {
	font-size: 18px;
	line-height: 1.5;
	color: #8a8e91;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
	position: relative;
	margin: 10px 0;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}


header {
	position: relative;
	width: 100%;
	color: white;
	/*background: rgba(255, 255, 255, 0.93);*/
	/*background: url('home/header.jpg');*/
	background-size: cover;
}

header .table {
	display: table;
	height: 100%;
}

header .container {
	height: 100%;
}

header .header-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
}

header .typed {
	display: inline-block;
	margin: 0;
}

header .typed-cursor {
	font-size: 60px;
	display: inline-block;
	margin: 0 10px;
	color: #00a8ff;
	-webkit-animation-name: flash;
	animation-name: flash;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

a {
	text-decoration: none;
	color: #7c7e80;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.icon-bar {
	background: #bbb;
}
/* Buttons */



.light {
	font-weight: 300;
}



.white {
	color: #777;
}

.light-white {
	color: rgba(255, 255, 255, 0.5);
}


/*
For animated preloader and typed text
*/

.animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



@keyframes flash {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}





@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}





@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}


/*
Login page type text ends here
*/


/* Drop down menu */

#back a {
    text-decoration: none;
    color: #f5f5f5;

}

/* Drop down Menu ends */
/*Scroll to top*/
#scroll {
    position:fixed;
    right:10px;
    bottom:50px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}


/*
On off Switch buttons
*/

/* Switch button */
.btn-default.btn-on.active{background-color: #5BB75B;color: white;}
.btn-default.btn-off.active{background-color: #DA4F49;color: white;}

.btn-default.btn-on-1.active{background-color: #006FFC;color: white;}
.btn-default.btn-off-1.active{background-color: #DA4F49;color: white;}

.btn-default.btn-on-2.active{background-color: #00D590;color: white;}
.btn-default.btn-off-2.active{background-color: #A7A7A7;color: white;}

.btn-default.btn-on-3.active{color: #5BB75B;font-weight:bolder;}
.btn-default.btn-off-3.active{color: #DA4F49;font-weight:bolder;}

.btn-default.btn-on-4.active{background-color: #006FFC;color: #5BB75B;}
.btn-default.btn-off-4.active{background-color: #DA4F49;color: #DA4F49;}



/*
Notification
*/

[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
}


/*
tab control
*/



/* USER PROFILE PAGE */
 .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}





/**
 * bootstrap-imageupload v1.1.2
 * https://github.com/egonolieux/bootstrap-imageupload
 * Copyright 2016 Egon Olieux
 * Released under the MIT license
 */

.imageupload.imageupload-disabled {
  cursor: not-allowed;
  opacity: 0.60;
}
.imageupload.imageupload-disabled > * {
  pointer-events: none;
}
.imageupload .panel-title {
  margin-right: 15px;
  padding-top: 8px;
}
.imageupload .alert {
  margin-bottom: 10px;
}
.imageupload .btn-file {
  overflow: hidden;
  position: relative;
}
.imageupload .btn-file input[type="file"] {
  cursor: inherit;
  display: block;
  font-size: 100px;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
.imageupload .file-tab button {
  display: none;
}
.imageupload .file-tab .thumbnail {
  margin-bottom: 10px;
}
.imageupload .url-tab {
  display: none;
}
.imageupload .url-tab .thumbnail {
  margin: 10px 0;
}

.img-thumbnail{
  transition: transform .2s; /* Animation */
  margin: 0 auto;
  max-width: 100px;
    max-height: 200px;
}

.img-thumbnail:hover{
     transform: scale(3);
}

.hall_ticket_image{
    height: 150px;
    width: 125px;
    padding:1px;
    border-radius: 6%;
    box-shadow: 0 0 0 7px #fff, 
                0 0 0 8px #ddd;
}



.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}



/*
Custom settings for Data 
*/
.dt-buttons {
float: right;
margin-left:10px;
 display: inline-block;   
}

.dataTables_filter{
 display: inline-block;   
 float: right;
}

.dataTables_length{
     display: inline-block;   
     float:left;
}

.rounded-box-10{
    border-radius: 10px;
}

.box-padding{
    padding: 10px;
}


 .separator-dashed{
    border-top: 1px dashed #ebecec;
    margin: 20px 0; }
 
 
 
 /*
 Pace Page load indication
 */
 
     
    
    .pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}




/*
CoE Home Statistical info of Research scholars
*/

